
#header {
	position: absolute; 
		top: 10px;
		left: 20%;
		width: 500px; 
		text-align:center; 
		color: black; 
		font-family: times new roman;
		}
#pix {
	position: absolute; 
	top:0px; 
	left:10%;
	
	}
#pix2 {position: absolute;
	  top: 0px; 
	  left: 60%;
	
	  }
dt {
	margin: 10px
	}
img {
	border: none; 
	width: 115px;
	border-radius:50px ;
	}
	/*Hidden picture from left side*/
#pix a img.skr {
	width: 370px; 
	position: absolute; 
	top: 60px; 
	left: 210px; 
	visibility: hidden;
	box-shadow:10px 5px 10px #292929;
	border-radius:20px ;
	}
#pix a:active {
	background: #292929
	}
	/*Hidden picture from right side*/
#pix a:active img.skr {
	visibility: visible
	}
#pix2 a img.skr {
	width: 370px; 
	position: absolute; 
	top: 60px; 
	left: -400px; 
	visibility: hidden;
	box-shadow:10px 5px 10px #292929;
	border-radius:20px ;
	}
#pix2 a:active {
	background: #292929
	}
#pix2 a:active img.skr {
	visibility: visible
	}
.pictures a{
		margin:0;
		padding:0;
}
.index_pix{
	position:absolute;
	top:300px;
	left:5px;
	width:800px;
	height:30%;
	box-shadow:10px 5px 10px #292929;
}
